<% provide(:title, 'Sign up') %>
<h1 class="form-title">Sign Up</h1>
<div class="container user_form">
  <%= form_for(@user, url: signup_path) do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <div class="alert alert-danger">
          <h2 class="errorHeader"><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
          <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li class="errorText"><%= message %></li>
          <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :username %>
      <%= f.text_field :username, class:'form-control form-custom' %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password, class:'form-control form-custom' %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class:'form-control form-custom' %>
    </div>

    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email, class:'form-control form-custom' %>
    </div>

    <div class="actions">
      <%= f.submit nil, class:'submitBtn' %>
    </div>
  <% end %>
</div>
