<%@capsuname = @user.username.slice(0,1).capitalize + @user.username.slice(1..-1)%>
<% provide(:title, @capsuname) %>
<div class="container containerCustom">
  <div class="row">
    <div class="col-md-3 sideContainer left">
        <div class="text_container">
          <%= gravatar_for @user %>
          <h1><%= @capsuname %></h1>
          <p>Email: <%=@user.email%></p>
          <p>Joined date: <%=@user.created_at.to_s.split(' ').first%></p>
          <p>Review count: <%=@user.reviews.count%></p>
        </div>
    </div>
    <div class="col-md-8 col-md-offset-1 sideContainer right">
      <% if @reviews.any? %>
        <%= render @reviews%>
      <%else%>
        <h3>You have not created any reviews yet.</h3>
      <%end%>
    </div>
  </div>
</div>
