<% provide(:title, "Attractions") %>
<div class="container containerCustom">
  <div class="row">
    <div class="col-md-3 sideContainer left">
      <div class="text_container">
        <img src="http://www.rwsentosa.com/Portals/0/RWS%20Revamp/USS/Landing%20page/FFA-240x140.jpg" alt="USS" />

        <h3>Name: <%=@attraction.name%></h3>
        <p class="description">Description: <%=@attraction.description%></p>
        <p class="description">Category: <%=@attraction.category%></p>
        <p class="ratingText">Rating:
          <%
          if @reviews.any?
          total = @reviews.pluck(:rating)
          average = total.inject{ |sum, el| sum + el }.to_f / total.size%>
          <%=average.to_d.round(1, :truncate).to_f%>
           <%else%>
            -
           <%end%>
           / 5 stars</p>
      <%=link_to "Add Review", new_review_path(attraction_id: @attraction.id), class:'btn btn-primary'%>  
      </div>
    </div>
    <div class="col-md-8 col-md-offset-1 sideContainer right">
      <% if @reviews.any? %>
        <%= render @reviews%>
      <%else%>
        <h3>There are currently no reviews for this place.</h3>
      <%end%>
    </div>
  </div>
</div>
